.jwa-input-wide {
  width: 400px !important;
}

.jwa-input-half {
  width: 120px !important;
}

.jwa-input-narrow {
  width: 60px !important;
}

.jwa-input-tiny {
  width: 37px !important;
}

.jwa-input-date {
  width: 90px !important;
  padding-left: 7px !important;
  padding-right: 7px !important;
}

.jwa-input-date-sm {
  width: 80px !important;
  padding-left: 5px !important;
  padding-right: 5px !important;
}

.jwa-input-time {
  width: 50px !important;
  padding-left: 5px !important;
  padding-right: 5px !important;
}

.jwa-input-sm {
  padding-left: 5px !important;
  padding-right: 5px !important;
}

.jwa-col-inline {
  padding-left: 3px !important;
  padding-right: 3px !important;
}

.jwa-valign-middle {
  vertical-align: middle !important;
}

.jwa-form-group-sm {
  margin-bottom: 5px !important;
}
