<fieldset>
  <legend>AKA</legend>
  <label for="nicknames">Nicknames:</label><input readonly="readonly" type="text" id="nicknames" ng-model="$ctrl.name.Nicknames" />
  <label for="realFileNumber">REAL Name File Number:</label><input readonly="readonly" type="text" id="realFileNumber" ng-model="$ctrl.name.RelatedFileNumber" />
  <table class="jwa-master-names-table">
    <thead>
      <tr><td>File#</td><td>Name</td><td>Address</td><td>SSN</td></tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</fieldset>
