<fieldset>
  <legend>Search Results ({{$ctrl.recordOffset+1}} - {{$ctrl.recordOffset + $ctrl.fetchSize}} of {{$ctrl.recordCount | number}})</legend>
  <div>
    <button ng-click="$ctrl.prevPage()">Prev Page</button>
    <button ng-click="$ctrl.nextPage()">Next Page</button>
  </div>
  <table class="jwa-master-names-table" ng-show="!$ctrl.loading">
    <tr><th>File Number</th><th>First Name</th><th>Middle Name</th><th>Last Name</th><th>DOB</th></tr>
    <tr ng-repeat="name in $ctrl.names">
      <td><a ui-sref="nameDetail({filenumber:name.FileNumber,search:{list:[]}})">{{name.FileNumber}}</a></td>
      <td>{{name.First}}</td>
      <td>{{name.Middle}}</td>
      <td>{{name.LastName}}</td>
      <td>{{name.DOB | dateFilter}}</td>
    </tr>
  </table>
  <div ng-show="$ctrl.loading">
    <h4>Loading names...</h4>
  </div>
</fieldset>
