<div class="panel panel-default">
  <div class="panel-body">
    <div class="row">
      <div class="col-lg-12">
        <div class="form-inline">
          <div class="form-group">
            <label class="control-label" for="WSINOCN">WSIN OCN</label>
            <input class="form-control" readonly type="text" id="WSINOCN" ng-model="$ctrl.name.IntelWSINOCN" />
            <label class="control-label" for="WSINDOC">WSIN DOC#</label>
            <input class="form-control" readonly type="text" id="WSINDOC" ng-model="$ctrl.name.IntelWSINDoc" />
            <label class="control-label" for="informant">Informant?</label>
            <input class="form-control" readonly type="text" id="informant" ng-model="$ctrl.name.IntelInformant" />
          </div>
          <div class="form-group">
            <label class="control-label" for="reliability">Reliability</label>
            <input class="form-control" readonly type="text" id="reliability" ng-model="$ctrl.name.IntelReliability" />
            <label class="control-label" for="intelContent">Content</label>
            <input class="form-control" readonly type="text" id="intelContent" ng-model="$ctrl.name.IntelContent" />
            <label class="control-label" for="intelViolence">Violence Potential</label>
            <input class="form-control" readonly type="text" id="intelViolence" ng-model="$ctrl.name.IntelViolence" />
          </div>
          <div class="form-group">
            <label class="control-label">M.O., Activities, Comments, Associates</label>
            <textarea class="form-control" readonly rows="4" cols="45" ng-model="$ctrl.name.IntelComments"></textarea>
          </div>
          <div class="form-group">
            <label class="control-label" for="intelGangName">Criminal Gang Affiliation Name/Chapter</label>
            <input class="form-control" readonly type="text" id="intelGangName" ng-model="$ctrl.name.IntelGangName" />
            <label class="control-label" for="intelGangLocation">Location</label>
            <input class="form-control" readonly type="text" id="intelGangLocation" ng-model="$ctrl.name.IntelGangLocation" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
