<div class="panel panel-default">
  <div class="panel-body">
    <div class="row">
      <div class="col-lg-12">
        <div class="table-responsive">
          <table class="table table-condensed table-striped table-border table-hover">
            <thead>
              <tr>
                <th>Inc#</th>
                <th>Cit/War</th>
                <th>Date</th>
                <th>Juv</th>
                <th>Inv</th>
                <th>Offense Desc.</th>
                <th>Charge Desc.</th>
                <th>Address</th>
                <th>Participant</th>
                <th>Status</th>
                <th>Status Date</th>
                <th>Bond Amount</th>
                <th>Bond Type</th>
                <th>ID</th>
                <th>Comments</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="contact in $ctrl.contacts">
                <td><a ui-sref="incidentDetail({incidentnumber:contact.Incident})">{{contact.Incident}}</a></td>
                <td>{{contact.Citation}}</td>
                <td>{{contact.ContactDate | jwaDate}}</td>
                <td>{{contact.Juvenile}}</td>
                <td>{{contact.Involvement}}</td>
                <td>{{contact.OffenseDesc}}</td>
                <td></td>
                <td>{{contact.Addr_Concat}}</td>
                <td>{{contact.Participant}}</td>
                <td>{{contact.ParticipantStatus}}</td>
                <td></td>
                <td></td>
                <td></td>
                <td>{{contact.ID}}</td>
                <td>{{contact.Comments}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
