<div class="panel panel-default">
  <div class="panel-body">
    <div class="row">
      <div class="col-lg-6">
        <div class="row">
          <div class="form-horizontal">
            <div class="form-group" ng-repeat="label in $ctrl.labels">
              <label class="control-label col-lg-5" for="profession{{$index}}">{{label}}</label>
              <div class="col-lg-7">
                <input class="form-control" readonly name="profession{{$index}}" type="text" ng-model="$ctrl.professionals[$index]" />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="row">
          <div class="form-horizontal">
            <div class="form-group">
              <label class="control-label col-lg-3" for="employer">Employer</label>
              <div class="col-lg-8">
                <input class="form-control" readonly type="text" id="employer" ng-model="$ctrl.name.Employer" />
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-lg-3" for="employerPhone">Employer Phone</label>
              <div class="col-lg-8">
                <input class="form-control" readonly type="text" id="employerPhone" ng-model="$ctrl.name.EmployerPhone" />
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-lg-3" for="schoolName">School Name</label>
              <div class="col-lg-8">
                <input class="form-control" readonly type="text" id="schoolName" ng-model="$ctrl.name.SchoolName" />
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-lg-3" for="schoolLocation">Location</label>
              <div class="col-lg-8">
                <input class="form-control" readonly type="text" id="schoolLocation" ng-model="$ctrl.name.SchoolLocation" />
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-lg-3" for="schoolStatus">Status</label>
              <div class="col-lg-8">
                <input class="form-control" readonly type="text" id="schoolStatus" ng-model="$ctrl.name.SchoolStatus" />
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-lg-3" for="schoolGrade">Grade</label>
              <div class="col-lg-8">
                <input class="form-control" readonly type="text" id="schoolGrade" ng-model="$ctrl.name.SchoolGrade" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
