<fieldset>
  <legend>Other Info</legend>
  <div class="jwa_form_row">
    <label for="SSN">SSN:</label><input readonly="readonly" type="text" id="SSN" ng-model="$ctrl.name.SSN" />
    <label for="altAddress">Alt. Address:</label><input readonly="readonly" type="text" id="altAddress" ng-model="$ctrl.name.AltAddress" />
    <label for="altCity">Alt. City:</label><input class="jwa_form_small" readonly="readonly" type="text" id="altCity" ng-model="$ctrl.name.AltCity" />
  </div>
  <div class="jwa_form_row">
    <label for="POB">POB:</label><input readonly="readonly" type="text" id="POB" ng-model="$ctrl.name.POB" />
    <label for="localID">Local ID:</label><input readonly="readonly" type="text" id="localID" ng-model="$ctrl.name.LocalID" />
  </div>
  <div class="jwa_form_row">
    <label for="SID">SID</label><input readonly="readonly" type="text" id="SID" ng-model="$ctrl.name.SID" />
    <label for="FBI">FBI</label><input readonly="readonly" type="text" id="FBI" ng-model="$ctrl.name.FBI" />
  </div>
  <div class="jwa_form_row">
    <label for="facialHair">Facial Hair:</label><input class="jwa_form_small" readonly="readonly" type="text" id="facialHair" ng-model="$ctrl.name.facialHair" />
    <label for="email">eMail:</label><input readonly="readonly" type="text" id="email" ng-model="$ctrl.name.eMail" />
  </div>
  <div class="jwa_form_row">
    <label for="noPub">No Pub:</label><input class="jwa_form_small" readonly="readonly" type="text" id="noPub" ng-model="$ctrl.name.NoPub" />
    <label for="misc">Misc:</label><input readonly="readonly" type="text" id="misc" ng-model="$ctrl.name.NameMisc" />
  </div>
</fieldset>
