<fieldset>
  <legend>Prof/Work</legend>
  <div class="jwa-inline-block">
    <div class="jwa-right-justify">Court Serivce Officer...</div>
    <div class="jwa-right-justify">Home Detention Officer...</div>
    <div class="jwa-right-justify">Judge...</div>
    <div class="jwa-right-justify">DOC/JCA..</div>
    <div class="jwa-right-justify">Counseler...</div>
    <div class="jwa-right-justify">Clergy...</div>
    <div class="jwa-right-justify">Legal Guardian...</div>
    <div class="jwa-right-justify">Doctor...</div>
    <div class="jwa-right-justify">Attorney...</div>
    <div class="jwa-right-justify">Insurance/Other...</div>
  </div>
  <textarea readonly class="jwa-inline-block" ng-model="$ctrl.name.Professionals" rows="10" cols="45"></textarea>
  <div class="jwa-inline-block">
    <div class="jwa-right-justify"><label for="employer">Employer:</label><input readonly="readonly" type="text" id="employer" ng-model="$ctrl.name.Employer" /></div>
    <div class="jwa-right-justify"><label for="employerPhone">Employer Phone:</label><input readonly="readonly" type="text" id="employerPhone" ng-model="$ctrl.name.EmployerPhone" /></div>
    <div class="jwa-right-justify"><label for="schoolName">School Name:</label><input readonly="readonly" type="text" id="schoolName" ng-model="$ctrl.name.SchoolName" /></div>
    <div class="jwa-right-justify"><label for="schoolLocation">Location:</label><input readonly="readonly" type="text" id="schoolLocation" ng-model="$ctrl.name.SchoolLocation" /></div>
    <div class="jwa-right-justify"><label for="schoolStatus">Status</label><input class="jwa_form_small" readonly="readonly" type="text" id="schoolStatus" ng-model="$ctrl.name.SchoolStatus" /><label for="schoolGrade">Grade:</label><input class="jwa_form_small" readonly="readonly" type="text" id="schoolGrade" ng-model="$ctrl.name.SchoolGrade" /></div>
  </div>
</fieldset>
