<div class="row">
  <fieldset>
    <legend>Contacts</legend>
    <!-- Need a table for the contacts returned here -->
    <div class="table-responsive">
      <table class="table table-condensed table-bordered table-striped table-hover">
        <thead>
          <tr>
            <th class="col-md-1">File</th>
            <th class="col-md-2">Last Name</th>
            <th class="col-md-1">First</th>
            <th class="col-md-1">M</th>
            <th class="col-md-1">DOB</th>
            <th class="col-md-1">Inv</th>
            <th class="col-md-1">Date</th>
            <th class="col-md-1">Offense</th>
            <th class="col-md-1">Arrest Date</th>
            <th class="col-md-1">Cit/Warrant</th>
            <th class="col-md-1">Charge</th>
            <th class="col-md-1">Charge Desc</th>
            <th class="col-md-1">Addr City</th>
            <th class="col-md-2">Address</th>
            <th class="col-md-1">Phone</th>
            <th class="col-md-1">Alt Phone</th>
            <th class="col-md-1">OLN</th>
            <th class="col-md-1">OLN State</th>
            <th class="col-md-1">SSN</th>
            <th class="col-md-1">Eth</th>
            <th class="col-md-1">Race</th>
            <th class="col-md-1">Sex</th>
            <th class="col-md-1">Wt</th>
            <th class="col-md-1">Ht</th>
            <th class="col-md-1">Caution</th>
            <th class="col-md-2">Contact Comments</th>
            <th class="col-md-1">Felony</th>
            <th class="col-md-1">ID</th>
            <th class="col-md-1">Disclose</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <!-- angular goes here to make it easy -->
          </tr>
        </tbody>
      </table>
    </div>
  </fieldset>
</div>
