<div class="row">
  <fieldset>
    <legend>{{$ctrl.property.length}} Property</legend>
    <div class="table-responsive">
      <table class="table table-condensed table-border table-stripe table-hover">
        <thead>
          <tr>
            <th>Seq#</th>
            <th>Tag</th>
            <!-- @todo need to add `Item` -->
            <!-- @todo need to add `Page` -->
            <th>Description</th>
            <th>LossValue</th>
            <th>RecoveredValue</th>
            <th>RecoveredDate</th>
            <th>PropertyType</th>
            <th>Make</th>
            <th>Model</th>
            <th>SerialNumber</th>
            <th>Location</th>
            <th>File</th>
            <!-- @todo need to add `LetterSent` -->
            <th>Comments</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="prop in $ctrl.property">
            <td>{{prop.SeqNumber}}</td>
            <td>{{prop.Tag}}</td>
            <td>{{prop.Description}}</td>
            <td>{{prop.LossValue}}</td>
            <td>{{prop.RecoveredValue}}</td>
            <td>{{prop.RecoveredDate | date}}</td>
            <td>{{prop.PropertyType}}</td>
            <td>{{prop.Make}}</td>
            <td>{{prop.Model}}</td>
            <td>{{prop.SerialNumber}}</td>
            <td>{{prop.Location}}</td>
            <td>{{prop.FileNumber}}</td>
            <td>{{prop.Comments}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </fieldset>
</div>
