<div class="row">
  <fieldset>
    <legend>Incident Detail</legend>
    <div class="col-sm-9">
      <div class="form-inline">
        <div class="form-group">
          <label for="incidentnumber">Incident #:</label>
          <input class="form-control jwa-input-half" readonly="readonly" type="text" id="incidentnumber" ng-model="$ctrl.incident.Incident" />
        </div>
        <div class="form-group">
          <label for="incidentdisclos">Disclos:</label>
          <input class="form-control jwa-input-tiny" readonly="readonly" type="text" id="incidentdisclos" ng-model="$ctrl.incident.Disclose" />
        </div>
        <div class="form-group">
          <label for="incidentzone">Zone:</label>
          <input class="form-control" readonly="readonly" type="text" id="incidentzone" ng-model="$ctrl.incident.Zone" />
        </div>
        <div class="form-group">
          <label for="incidentid">ID:</label>
          <input class="form-control jwa-input-narrow" readonly="readonly" type="text" id="incidentid" ng-model="$ctrl.incident.ID" tooltip-popup-close-delay="500" tooltip-popup-delay="200" tooltip-placement="top" uib-tooltip="{{$ctrl.incident.OwnerName}}"  />
        </div>
      </div>
      <div class="form-inline">
        <div class="form-group">
          <label for="incidentOffense">Offense:</label>
          <input class="form-control jwa-input-narrow" readonly="readonly" type="text" id="incidentOffense" ng-model="$ctrl.incident.Offense" />
          <input class="form-control" readonly="readonly" type="text" ng-model="$ctrl.incident.OffenseDesc" />
        </div>
        <div class="form-group">
          <label for="incidentOffenseExt">Off Ext:</label>
          <input class="form-control" readonly="readonly" type="text" id="incidentOffenseExt" ng-model="$ctrl.incident.OffenseExt" />
        </div>
      </div>
      <div class="form-inline">
        <div class="form-group">
          <label for="incidentLocation">Location:</label>
          <input class="form-control jwa-input-narrow" readonly="readonly" type="text" id="incidentLocation" ng-model="$ctrl.incident.Loc_Number" />
          <input class="form-control jwa-input-narrow" readonly="readonly" type="text" ng-model="$ctrl.incident.Loc_Direction" />
          <input class="form-control" readonly="readonly" type="text" ng-model="$ctrl.incident.Loc_StreetName" />
          <input class="form-control jwa-input-narrow" readonly="readonly" type="text" ng-model="$ctrl.incident.Loc_StreetType" />
          <input class="form-control jwa-input-narrow" readonly="readonly" type="text" ng-model="$ctrl.incident.Loc_Direction2" />
          <input class="form-control jwa-input-narrow" readonly="readonly" type="text" ng-model="$ctrl.incident.Loc_Apt" />
        </div>
      </div>
      <div class="form-inline">
        <div class="form-group">
          <input class="form-control jwa-input-wide" readonly="readonly" type="text" ng-model="$ctrl.incident.Loc_Concat" />
        </div>
        <div class="form-group">
          <label for="incidentLocCity">City:</label>
          <input class="form-control jwa-input-half" readonly="readonly" type="text" id="incidentLocCity" ng-model="$ctrl.incident.Loc_City" />
        </div>
        <div class="form-group">
          <label for="incidentLocState">State:</label>
          <input class="form-control jwa-input-narrow" readonly="readonly" type="text" id="incidentLocState" ng-model="$ctrl.incident.Loc_State" />
        </div>
        <div class="form-group">
          <label for="incidentLocZip">Zip:</label>
          <input class="form-control jwa-input-half" readonly="readonly" type="text" id="incidentLocZip" ng-model="$ctrl.incident.Loc_Zip" />
        </div>
      </div>
      <div class="form-inline">
        <div class="form-group">
          <label for="incidentReviewer">Reviewer:</label>
          <input class="form-control jwa-input-narrow" readonly="readonly" type="text" id="incidentReviewer" ng-model="$ctrl.incident.ReviewerID" tooltip-popup-close-delay="500" tooltip-popup-delay="200" tooltip-placement="top" uib-tooltip="{{$ctrl.incident.Reviewer}}" />
        </div>
        <div class="form-group">
          <label for="incidentCaseStatus">Case Status:</label>
          <input class="form-control jwa-input-narrow" readonly="readonly" type="text" id="incidentCaseStatus" ng-model="$ctrl.incident.CaseStatus" />
        </div>
        <div class="form-group">
          <label for="incidentCaseDispo">Case Dispo:</label>
          <input class="form-control jwa-input-narrow" readonly="readonly" type="text" id="incidentCaseDispo" ng-model="$ctrl.incident.CaseDispo" />
        </div>
        <div class="form-group">
          <label for="incidentAssignedTo">Assigned To:</label>
          <input class="form-control jwa-input-narrow" readonly="readonly" type="text" id="incidentAssignedTo" ng-model="$ctrl.incident.AssignedToID" tooltip-popup-close-delay="500" tooltip-popup-delay="200" tooltip-placement="top" uib-tooltip="{{$ctrl.incident.AssignedTo}}" />
        </div>
        <div class="form-group">
          <label for="incidentAssignedToSince">Since:</label>
          <input class="form-control jwa-input-date" readonly="readonly" type="text" id="incidentAssignedToSince" ng-model="$ctrl.incident.Since" />
        </div>
      </div>
      <div class="form-inline">
        <div class="form-group">
          <input readonly="readonly" type="checkbox" id="incidentPrintPress" ng-model="$ctrl.incident.PrintRpt" /><label for="incidentPrintPress">Print on Press Report</label>
        </div>
      </div>
      <div class="form-inline">
        <div class="form-group">
          <label for="incidentDomesticVic">Domestic Victim:</label>
          <input class="form-control jwa-input-narrow" readonly="readonly" type="text" id="incidentDomesticVic" ng-model="$ctrl.incident.DomVic" />
        </div>
        <div class="form-group">
          <label for="incidentType">Type:</label>
          <input class="form-control jwa-input-tiny" readonly="readonly" type="text" id="incidentType" ng-model="$ctrl.incident.Type" />
        </div>
        <div class="form-group">
          <label for="incidentRelatedNumber">Related #:</label>
          <input class="form-control jwa-input-half" readonly="readonly" type="text" id="incidentRelatedNumber" ng-model="$ctrl.incident.RelatedNumber" />
        </div>
        <div class="form-group">
          <label for="incidentShift">Shift:</label>
          <input class="form-control jwa-input-tiny" readonly="readonly" type="text" id="incidentShift" ng-model="$ctrl.incident.Shift" />
        </div>
        <div class="form-group">
          <label for="incidentDispatcher">Dispatcher:</label>
          <input class="form-control" readonly="readonly" type="text" id="incidentDispatcher" ng-model="$ctrl.incident.Dispatcher" />
        </div>
      </div>
      <div class="form-inline">
        <div class="form-group">
          <label for="incidentAsOfDate">As of Date:</label>
          <input class="form-control jwa-input-date" readonly="readonly" type="text" id="incidentAsOfDate" ng-model="$ctrl.incident.AsOfDate" />
        </div>
        <div class="form-group">
          <label for="incidentMisc">Misc:</label>
          <input class="form-control" readonly="readonly" type="text" id="incidentMisc" ng-model="$ctrl.incident.IncidentMisc" />
        </div>
      </div>
    </div>
    <!-- The Date/Times right hand floater -->
    <div class="col-sm-3">
      <div class="well">
        <fieldset class="form-horizontal">
          <legend>Dates/Times</legend>
          <div class="form-group jwa-form-group-sm">
            <label for="incidentRptDate" class="col-sm-5 jwa-col-inline text-right jwa-valign-middle">Reported</label>
            <div class="col-sm-4 jwa-col-inline">
              <input class="form-control input-sm jwa-input-sm" readonly="readonly" type="text" id="incidentRptDate" ng-model="$ctrl.incident.RptDate" />
            </div>
            <div class="col-sm-3 jwa-col-inline">
              <input class="form-control input-sm jwa-input-sm" readonly="readonly" type="text" ng-model="$ctrl.incident.RptTime" />
            </div>
          </div>
          <div class="form-group jwa-form-group-sm">
            <label for="incidentBeginDate" class="col-sm-5 jwa-col-inline text-right jwa-valign-middle">Begin</label>
            <div class="col-sm-4 jwa-col-inline">
              <input class="form-control input-sm jwa-input-sm" readonly="readonly" type="text" id="incidentBeginDate" ng-model="$ctrl.incident.BeginDate" />
            </div>
            <div class="col-sm-3 jwa-col-inline">
              <input class="form-control input-sm jwa-input-sm" readonly="readonly" type="text" ng-model="$ctrl.incident.BeginTime" />
            </div>
          </div>
          <div class="form-group jwa-form-group-sm">
              <label for="incidentEndDate" class="col-sm-5 jwa-col-inline text-right jwa-valign-middle">End</label>
              <div class="col-sm-4 jwa-col-inline">
                <input class="form-control input-sm jwa-input-sm" readonly="readonly" type="text" id="incidentEndDate" ng-model="$ctrl.incident.EndDate" />
              </div>
              <div class="col-sm-3 jwa-col-inline">
                <input class="form-control input-sm jwa-input-sm" readonly="readonly" type="text" ng-model="$ctrl.incident.EndTime" />
              </div>
          </div>
          <div class="form-group jwa-form-group-sm">
            <label for="incidentDisp" class="col-sm-5 jwa-col-inline text-right jwa-valign-middle">Dispatched</label>
            <div class="col-sm-3 jwa-col-inline">
              <input class="form-control input-sm jwa-input-sm" readonly="readonly" type="text" id="incidentDisp" ng-model="$ctrl.incident.Disp" />
            </div>
          </div>
          <div class="form-group jwa-form-group-sm">
            <label for="incidentArvd" class="col-sm-5 jwa-col-inline text-right jwa-valign-middle">Arrived</label>
            <div class="col-sm-3 jwa-col-inline">
              <input class="form-control input-sm jwa-input-sm" readonly="readonly" type="text" id="incidentArvd" ng-model="$ctrl.incident.Arvd" />
            </div>
          </div>
          <div class="form-group jwa-form-group-sm">
            <label for="incidentClrd" class="col-sm-5 jwa-col-inline text-right jwa-valign-middle">Cleared</label>
            <div class="col-sm-3 jwa-col-inline">
              <input class="form-control input-sm jwa-input-sm" readonly="readonly" type="text" id="incidentClrd" ng-model="$ctrl.incident.Clrd" />
            </div>
          </div>
        </fieldset>
      </div>
    </div>
  </fieldset>
</div>
