<div class="row">
  <fieldset>
    <legend>{{$ctrl.narratives.length}} Narrative(s)</legend>
  <div class="table-responsive">
      <table class="table table-condensed table-border table-stripe table-hover">
        <thead>
          <tr>
            <th>Incident</th>
            <th>Date</th>
            <th>Time</th>
            <th>ID</th>
            <th>Narrative</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="narrative in $ctrl.narratives" ng-click="$ctrl.viewNarrative(narrative.NarrativeKey)">
            <td>{{narrative.IncidentNumber}}</td>
            <td>{{narrative.Date | date}}</td>
            <td>{{narrative.Time | time}}</td>
            <td>{{narrative.ID}}</td>
            <td>{{narrative.Narrative1}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </fieldset>
</div>
