<div class="modal-content">
  <div class="modal-header">
    <button type="button" class="close" ng-click="$close()">&times;</button>
    <h4 class="modal-title">Narrative Details</h4>
  </div>
  <div class="modal-body">
    <form class="form">
      <div class="form-group">
        <label class="control-label" for="narrativeSource">Source</label>
        <textarea readonly class="form-control" name="narrativeSource" rows="9">{{$ctrl.narrative.Summary}}</textarea>
      </div>
      <div class="form-group">
        <label class="control-label" for="narrativeMentioned">Mentioned</label>
        <textarea readonly class="form-control" name="narrativeMentioned" rows="9">{{$ctrl.narrative.Mentioned}}</textarea>
      </div>
      <div class="form-group">
        <label class="control-label" for="narrativeInvestigation">Investigation</label>
        <textarea readonly class="form-control" name="narrativeInvestigation" rows="9">{{$ctrl.narrative.ActionTaken}}</textarea>
      </div>
      <div class="form-group">
        <label class="control-label" for="narrativeFollowUp">Follow-Up</label>
        <textarea readonly class="form-control" name="narrativeFollowUp" rows="9">{{$ctrl.narrative.Statements}}</textarea>
      </div>
      <div class="form-group">
        <label class="control-label" for="narrativeEvidence">Evidence/Property</label>
        <textarea readonly class="form-control" name="narrativeEvidence" rows="9">{{$ctrl.narrative.Evidence}}</textarea>
      </div>
      <div class="form-group">
        <label class="control-label" for="narrativeUndeveloped">Undeveloped Leads</label>
        <textarea readonly class="form-control" name="narrativeUndeveloped" rows="9">{{$ctrl.narrative.ActionRecommened}}</textarea>
      </div>
    </form>
  </div>
</div>
