<div class="well well-sm">
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>#</th>
        <th>Full Name</th>
        <th>Username</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="user in $ctrl.info.users track by $index">
        <td>{{$index}}</td>
        <td>{{user.fullName}}</td>
        <td>{{user.username}}</td>
        <td><button class="btn btn-primary" type="button" ng-click="$ctrl.editUser(user._id)">Edit</button></td>
      </tr>
    </tbody>
  </table>
</div>
