<container>
  <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand">{{$ctrl.greeting}}</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li ui-sref-active="active"><a ui-sref="welcome">Home</a></li>
            <li ui-sref-active="active" ng-show="$ctrl.userState.authenticated"><a ui-sref="name">Names</a></li>
            <li ui-sref-active="active" ng-show="$ctrl.userState.authenticated"><a ui-sref="incident">Incidents</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a>{{$ctrl.date | date:'yyyy-MM-dd HH:mm:ss':'-0700'}}</a></li>
            <li ng-show="$ctrl.userState.authenticated"><a ui-sref="userLogout">Logout</a></li>
            <li ng-show="!$ctrl.userState.authenticated"><a ui-sref="userLogin">Login</a></li>
          </ul>
        </div>
      </div>
  </nav>
  <div class="container buffer">
    <ui-view></ui-view>
  </div>
</container>
