<container>
  <nav class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand">{{$ctrl.greeting}}</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li ui-sref-active="active"><a ui-sref="welcome">Home</a></li>
            <li ui-sref-active="active"><a ui-sref="name">Names</a></li>
            <li ui-sref-active="active"><a ui-sref="incident">Incidents</a></li>
            <li ui-sref-active="active"><a ui-sref="userTestRoot">User Test</a></li>
          </ul>
          <ul class="nav navbar-nav nav-bar-right">
            <li ng-show="$ctrl.userService.user"><a ui-sref="userLogout"></a></li>
            <li ng-show="!$ctrl.userService.user"><a ui-sref="userLogin"></a></li>
          </ul>
        </div>
      </div>
  </nav>
  <div class="container">
    <ui-view></ui-view>
  </div>
</container>
