<div class="modal-content">
  <div class="modal-header">
    <button class="close" type="button" ng-click="$ctrl.modalInstance.dismiss()">&times;</button>
    <h4 class="modal-title>">Password Reset: {{$ctrl.userId}}</h4>
  </div>
  <div class="modal-body">
    <div class="form-horizontal">
      <div class="form-group">
        <label class="control-label col-lg-4" for="passwordCurrent">Current Password</label>
        <div class="col-lg-8">
          <input class="form-control" name="passwordCurrent" type="password" ng-model="$ctrl.currentPassword" />
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-lg-4" for="passwordFirst">New Password</label>
        <div class="col-lg-8">
          <input class="form-control" name="passwordFirst" type="password" ng-model="$ctrl.passwordFirst" />
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-lg-4" for="passwordSecond">Re-type New Password</label>
        <div class="col-lg-8">
          <input class="form-control" name="passwordSecond" type="password" ng-model="$ctrl.passwordSecond" />
        </div>
      </div>
      <div class="form-group">
        <div class="col-lg-8 col-lg-offset-4">
          <button class="btn btn-primary" type="button" ng-click="$ctrl.reset()">Reset</button>
          <button class="btn btn-default" type="button" ng-click="$ctrl.modalInstance.dismiss()">Cancel</button>
        </div>
      </div>
    </div>
  </div>
</div>
